* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.login {
    background-color: rgb(49, 49, 49);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 43%;
}

input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 3px;
}

#btnLogin {
    width: 150px;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 5px;
    margin-bottom: 15px;
}

h3 {
    margin-left: 5px;
    margin-bottom: 15px;
}

.capa-filme {
    max-height: 300px;
    border-radius: 5px;
    margin: 5px;
}